/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        mod_lpar: mod_lpar {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_LPAR";
            bindings = <&kp LEFT_BRACKET>, <&kp LEFT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        mod_rpar: mod_rpar {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RPAR";
            bindings = <&kp RIGHT_BRACKET>, <&kp RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        copy_paste: copy_paste {
            compatible = "zmk,behavior-mod-morph";
            label = "COPY_PASTE";
            bindings = <&kp LC(INSERT)>, <&kp INSERT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_back: mod_back {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_BACK";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
            keep-mods = <(MOD_LALT|MOD_LSFT|MOD_LCTL|MOD_LGUI)>;
        };

        tap_caps: tap_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_CAPS";
            #binding-cells = <0>;
            bindings = <&kp CAPSLOCK>, <&caps_word>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        colemak-dh {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&gresc     &kp N1  &kp N2  &kp N3            &kp N4        &kp N5                                       &kp N6    &kp N7         &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB    &kp Q   &kp W   &kp F             &kp P         &kp B                                        &kp J     &kp L          &kp U      &kp Y    &kp SEMI  &kp NON_US_BACKSLASH
&tap_caps  &kp A   &kp R   &kp S             &kp T         &kp G                                        &kp M     &kp N          &kp E      &kp I    &kp O     &kp SQT
&kp INS    &kp Z   &kp X   &kp C             &kp D         &kp V     &mod_lpar               &mod_rpar  &kp K     &kp H          &kp COMMA  &kp DOT  &kp FSLH  &mod_back
                           &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LGUI  &mt LEFT_SHIFT SPACE    &lt 2 RET  &kp RGUI  &kp RIGHT_ALT  &mo 1
            >;
        };

        numeric_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&trans  &none  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&trans  &none  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PLUS                           &none         &none         &none         &none         &none         &none
&trans  &none  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp MINUS                          &none         &none         &none         &none         &none         &none
&trans  &none  &kp KP_NUMBER_0  &kp COMMA        &kp PERIOD       &kp KP_DIVIDE    &trans    &trans  &none         &none         &none         &none         &none         &trans
                                &trans           &trans           &trans           &trans    &trans  &trans        &trans        &trans
            >;
        };

        navi_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans  &kp F1  &kp F2    &kp F3       &kp F4   &kp F5                     &kp F6   &kp F7     &kp F8        &kp F9           &kp F10  &trans
&trans  &none   &none     &kp PG_UP    &none    &kp F11                    &kp F12  &mkp LCLK  &kp UP_ARROW  &mkp RCLK        &none    &trans
&trans  &none   &kp HOME  &kp PG_DN    &kp END  &none                      &none    &kp LEFT   &kp DOWN      &kp RIGHT_ARROW  &trans   &trans
&trans  &none   &none     &copy_paste  &none    &none    &trans    &trans  &trans   &trans     &trans        &trans           &trans   &trans
                          &trans       &trans   &trans   &trans    &trans  &trans   &trans     &trans
            >;
        };
    };
};
